<p>Departure Time: <%=@booking.flight.flight_date%></p>
<p>Departing airport: <%=@booking.flight.origin_port%></p>
<p>Arrival airport: <%=@booking.flight.arrival_port%></p>

<%=form_with model: @booking  do |book|%>
   <%@booking.passengers.each_with_index do |passenger,index|%>
   <p>Enter details for passenger <%=(index+1).to_s%>:</p>
    <%=book.fields_for passenger, index: passenger.id do |passenger_form|%>
        <%= passenger_form.label 'Enter Name:'%>
        <%=passenger_form.text_field :name%>
        <%= passenger_form.label 'Enter Email:'%>
        <%=passenger_form.text_field :email%>      
    <%end %>
    <br/>
<%end%>
 <%=book.hidden_field :flight_id, value: @booking.flight.id%>
    <%=book.submit 'Confirm'%>
<%end%>